[Unit]
Description=Trilium Server
After=network.target 

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
Environment="NODE_ENV=production"
ExecStart=__FINALPATH__ start src/www &
Restart=always
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
